@import 'variables';

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: "GT America Standard", serif;
	line-height: 1;
  margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0 em;
  margin-block-end: 0 em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

header {
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 88px;

  a {
    padding: 11px 24px;
    line-height: 1.5;
    font-weight: 400;
    font-size: 24px;
    border-radius: 8px;
    margin-left: 1rem;
  }
}
.nav-button-submit {
  background-color: $light-black;
  color: $white;
  border: 1px solid $white;
}
.nav-button-signin {
  background-color: $purple;
  color: $white;
  &:hover {
    transition: 0.3s;
    background-color: $white;
    color: $black;
  } 
}
.search__container {
  background-color: $light-purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  .search__container-title {
    color: $black;
    font-size: 80px;
    font-weight: 400;
  }
  .search__box {
    position: relative;
    input {
      width: 100%;
      font-family: "GT America Standard", serif;
      border: 1px solid $black;
      border-radius: 4px;
      font-size: 20px;
      font-weight: 400;
      padding: 1rem 1rem;
    }
    .search-arrow {
      position: absolute;
      display: inline-block;
      z-index: 100;
      right: 15px;
      transform: translateY(20px);
    }
  }
}
